html {
    font-family: sans-serif, Arial, Helvetica;
    color: #464444;
}

h1 {
    font-size: 40px;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    
}

nav .logo {
    display: flex;
    height: 2rem;
    padding-left: 1.5rem;
    align-items: center;
}

.logo .span {
    font-weight: 600;
    color: #464444;
}

.logo p {
    color: #808080;
}

.header-links {
    padding-right: 1rem;
}

.header-links a {
    color: #464444;
    text-decoration: none;
    padding: 8px;
}

/* main */

main {
    position: relative;
    top: 64px;
}

/* landing-1 */

#landing--1 {
    background-color: #dbd6d6;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
}

#landing--1 img {
    width: 60%;
    float: left;
}

#landing--1 article {
    width: 25%;
    float: right;
    padding: 0 0 0 1.5rem;
}

#landing--1 button {
    background-color: #4b4b4b;
    width: 100%;
    padding: 0.5rem;
}

#landing--1 a {
    text-decoration: none;
    color: white;
}

#landing--1 h1 {
    margin: 0.25rem 0;
}

/* landing-2 */

#landing--2 {
    display: flex;
    padding: 2rem 1.5rem;
}

.l--2-1 {
    width: 60%; 
    padding-right: 1.5rem;    
    float: left;
}

.l--2-1 img {
    width: 100%;
}

.l--2-2 {
    width: 40%;
    float: right;
}

.l--2-2 h3 {
    margin-left: 0;
}

#note-1 {
    padding-top: 0;
}
.l--2-2-1 {
    display: flex;
    padding: 1rem;
}

.l--2-2-1 img {
    width: 35%;
    height: auto;
    padding-right: 1rem;
}

#note-3 {
    background-color: #dbd6d6;
}

.read {
    text-decoration: none;
    color: rgb(34, 34, 223);
}


/* learning */

#learning {
    background-color: #dbd6d6;
    padding: 2rem 4.5rem;
}

#learning h2 {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
    margin: 0;
}

.learning-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.img-container {
    background-color: white;
    width: 30%;
    margin-bottom: 2rem;
}

.img-container p, h3 {
    margin-left: 1rem;
}

.img-container-img {
    height: auto;
    width: 100%;
}

/* thesis */

#thesis {
    padding: 2rem 1.5rem;
}

#thesis h2 {
    text-align: center;
}

.thesis-1 {
    display: flex;
}

.thesis-1-1 {
    width: 60%;
    padding-right: 1.5rem;
}

.thesis-1-1 video {
    width: 100%;
}

.thesis-1-2 {
    width: 40%;
    float: right;
}

.thesis-1 h3 {
    margin-left: 0;
}

.thesis-1-2-1 {
    display: flex;
    align-items: center;
}

.thesis-1-2-1 img {
    padding: 1rem;
    width: 35%;
    height: auto;
}

#t-1 {
    background-color: #dbd6d6;
}

/* footer */

footer {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: white;
    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #464444;
}

footer p {
    margin: 0;
}